


<nav class="navbar navbar-expand-sm navbar-light shadow-sm">
  <div class="container">
    <a href="{{ url_for("home") }}" class="navbar-brand">Digi<span class="text-primary">Gram.</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto">
        <li class="nav-item {% if request.path == '/' %} active {% endif %}">
          <a href="{{ url_for("home") }}" class="nav-link">Home</a>
        </li>
        <li class="nav-item {% if request.path == '/about' %} active {% endif %}">
          <a href="{{ url_for("about") }}" class="nav-link">About</a>
        </li>
        <li class="nav-item {% if request.path == '/blog' %} active {% endif %}">
          <a href="{{ url_for("blog") }}" class="nav-link">Blog</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
        <div class="btn-group">
          
          <button type="button" class="badge btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-astronaut"></i>
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ url_for('login') }}">Login</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item btn btn-danger" href="#">Sign-up</a></li>
          </ul>
        </div>
      </form>
      
        
      
    </div>
  </div>
</nav>