
<script src="{{ url_for("static", filename="template/js/jquery.min.js") }}"></script>

<script src="{{ url_for("static", filename="template/js/bootstrap.min.js") }}"></script>

<script src="{{ url_for("static", filename="template/vendor/wow/wow.min.js") }}"></script>

<script src="https://kit.fontawesome.com/d356795670.js" crossorigin="anonymous"></script>

<script src="{{ url_for("static", filename="template/vendor/owl-carousel/js/owl.carousel.min.js") }}"></script>

<script src="{{ url_for("static", filename="template/vendor/waypoints/jquery.waypoints.min.js") }}"></script>

<script src="{{ url_for("static", filename="template/vendor/animateNumber/jquery.animateNumber.min.js") }}"></script>

<script src="{{ url_for("static", filename="template/js/google-maps.js") }}"></script>

<script src="{{ url_for("static", filename="template/js/theme.js") }}"></script>